<ion-header>
  <ion-toolbar>
    <ion-title>
      Habilidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>



      
      <ion-grid>


<ion-row>
  <ion-col size="12" size-md>
    <h1>Development Movil</h1>
    <ion-card class="welcome-card">
      <img src="/assets/slider4.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Full Stack Web Development</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sunt? Illum deserunt inventore vero quo
          nesciunt debitis molestiae ..</p>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="12" size-md>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit at molestiae perspiciatis adipisci quia dolorum aliquid, sapiente reiciendis eius impedit explicabo, eligendi porro! Quisquam, porro dolore ipsa voluptatem a unde.</p>
  </ion-col>
</ion-row>
</ion-grid>

   
    
      
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12" size-md>
          <h1>Angular 7 Framework</h1>
          <ion-card class="welcome-card">
            <img src="/assets/slider5.jpg" alt="" />
            <ion-card-header>
              <ion-card-subtitle>Get Started</ion-card-subtitle>
              <ion-card-title>Angular 7 Development</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sunt? Illum deserunt inventore vero quo
                nesciunt debitis molestiae ..</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit at molestiae perspiciatis adipisci quia
            dolorum aliquid, sapiente reiciendis eius impedit explicabo, eligendi porro! Quisquam, porro dolore ipsa
            voluptatem a unde.</p>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
       <ion-row>
          <ion-col size="12" size-md>
            <h1>C #</h1>
            <ion-card class="welcome-card">
              <img src="/assets/slider3.jpg" alt="" />
              <ion-card-header>
                <ion-card-subtitle>Get Started</ion-card-subtitle>
                <ion-card-title>C# development backend</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sunt? Illum deserunt inventore vero quo
                  nesciunt debitis molestiae ..</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit at molestiae perspiciatis adipisci quia
              dolorum aliquid, sapiente reiciendis eius impedit explicabo, eligendi porro! Quisquam, porro dolore ipsa
              voluptatem a unde.</p>
          </ion-col>
        </ion-row>      
    </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="12" size-md>
              <h1>PYTHON</h1>
              <ion-card class="welcome-card">
                <img src="/assets/django.jpg" alt="" />
                <ion-card-header>
                  <ion-card-subtitle>Get Started</ion-card-subtitle>
                  <ion-card-title>DJANGO Framework</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sunt? Illum deserunt inventore vero quo
                    nesciunt debitis molestiae ..</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12" size-md>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit at molestiae perspiciatis adipisci quia
                dolorum aliquid, sapiente reiciendis eius impedit explicabo, eligendi porro! Quisquam, porro dolore ipsa
                voluptatem a unde.</p>
            </ion-col>
          </ion-row>
        </ion-slide>
  </ion-slides>
</ion-content>
